#ifndef SL_BINARY_INPUT_INIT_INSTANCES_H
#define SL_BINARY_INPUT_INIT_INSTANCES_H

#ifdef __cplusplus
extern "C" {
#endif
// Initialize binary input instance(s)
void sl_binary_input_init_instances(void);
#ifdef __cplusplus
}
#endif

#endif // SL_BINARY_INPUT_INIT_INSTANCES_H
